<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
    <dict>
        <key>TXSettingsPlguinIdentifier</key>
        <string>com.nexhawks.TXSynthesizer.MatrixReverb1</string>
        <key>TXSettingsPluginSettings</key>
        <dict>
            <key>EarlyReflectionGain</key>
            <real>0.250000</real>
            <key>HighFrequencyDamp</key>
            <real>0.869141</real>
            <key>InGain</key>
            <real>0.429655</real>
            <key>ReverbTime</key>
            <real>3.952825</real>
        </dict>
    </dict>
</plist>
