<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
    <dict>
        <key>TXSettingsPlguinIdentifier</key>
        <string>com.nexhawks.TXSynthesizer.MatrixReverb1</string>
        <key>TXSettingsPluginSettings</key>
        <dict>
            <key>EarlyReflectionGain</key>
            <real>0.081052</real>
            <key>HighFrequencyDamp</key>
            <real>0.113281</real>
            <key>InGain</key>
            <integer>1</integer>
            <key>ReverbTime</key>
            <real>0.463016</real>
        </dict>
    </dict>
</plist>
