<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
    <dict>
        <key>TXSettingsPlguinIdentifier</key>
        <string>com.nexhawks.TXSynthesizer.GPDS1</string>
        <key>TXSettingsPluginSettings</key>
        <dict>
            <key>Filter</key>
            <dict>
                <key>AttackFrequency</key>
                <real>2980.263184</real>
                <key>AttackTime</key>
                <real>0.050762</real>
                <key>DecayTime</key>
                <integer>5</integer>
                <key>Enable</key>
                <true />
                <key>InitialFrequency</key>
                <real>2282.264404</real>
                <key>ReleaseFrequency</key>
                <real>3466.894043</real>
                <key>ReleaseTime</key>
                <real>0.252157</real>
                <key>Resonance</key>
                <real>0.680625</real>
                <key>SustainFrequency</key>
                <real>3567.621338</real>
                <key>Type</key>
                <string>Lpf24Moog</string>
            </dict>
            <key>Oscilator1</key>
            <dict>
                <key>AttackPower</key>
                <integer>1</integer>
                <key>AttackTime</key>
                <real>0.004047</real>
                <key>DecayPower</key>
                <integer>6</integer>
                <key>DecayTime</key>
                <integer>2</integer>
                <key>FixStart</key>
                <false />
                <key>LfoDelay</key>
                <real>0.300000</real>
                <key>LfoDepth</key>
                <integer>8</integer>
                <key>LfoFrequency</key>
                <integer>7</integer>
                <key>ReleasePower</key>
                <integer>6</integer>
                <key>ReleaseTime</key>
                <real>1.021897</real>
                <key>SustainLevel</key>
                <real>0.800000</real>
                <key>SyncTarget</key>
                <false />
                <key>TransposeCoarse</key>
                <integer>0</integer>
                <key>TransposeFine</key>
                <integer>0</integer>
                <key>Volume</key>
                <real>0.135474</real>
                <key>WaveformType</key>
                <string>Sawtooth</string>
            </dict>
            <key>Oscilator2</key>
            <dict>
                <key>AttackPower</key>
                <integer>1</integer>
                <key>AttackTime</key>
                <real>0.002206</real>
                <key>DecayPower</key>
                <integer>6</integer>
                <key>DecayTime</key>
                <integer>2</integer>
                <key>FixStart</key>
                <false />
                <key>LfoDelay</key>
                <real>0.300000</real>
                <key>LfoDepth</key>
                <integer>8</integer>
                <key>LfoFrequency</key>
                <integer>7</integer>
                <key>ReleasePower</key>
                <integer>6</integer>
                <key>ReleaseTime</key>
                <integer>1</integer>
                <key>SustainLevel</key>
                <real>0.800000</real>
                <key>SyncTarget</key>
                <false />
                <key>TransposeCoarse</key>
                <integer>0</integer>
                <key>TransposeFine</key>
                <integer>-10</integer>
                <key>Volume</key>
                <real>0.089622</real>
                <key>WaveformType</key>
                <string>Sawtooth</string>
            </dict>
            <key>Oscilator3</key>
            <dict>
                <key>AttackPower</key>
                <integer>1</integer>
                <key>AttackTime</key>
                <real>0.002681</real>
                <key>DecayPower</key>
                <integer>6</integer>
                <key>DecayTime</key>
                <integer>2</integer>
                <key>FixStart</key>
                <false />
                <key>LfoDelay</key>
                <real>0.300000</real>
                <key>LfoDepth</key>
                <integer>8</integer>
                <key>LfoFrequency</key>
                <integer>7</integer>
                <key>ReleasePower</key>
                <integer>6</integer>
                <key>ReleaseTime</key>
                <integer>1</integer>
                <key>SustainLevel</key>
                <real>0.800000</real>
                <key>SyncTarget</key>
                <false />
                <key>TransposeCoarse</key>
                <integer>0</integer>
                <key>TransposeFine</key>
                <integer>8</integer>
                <key>Volume</key>
                <real>0.164904</real>
                <key>WaveformType</key>
                <string>Sawtooth</string>
            </dict>
            <key>Polyphonics</key>
            <integer>4</integer>
        </dict>
    </dict>
</plist>
