<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
    <dict>
        <key>TXSettingsPlguinIdentifier</key>
        <string>com.nexhawks.TXSynthesizer.GPDS1</string>
        <key>TXSettingsPluginSettings</key>
        <dict>
            <key>Filter</key>
            <dict>
                <key>AttackFrequency</key>
                <real>12721.441406</real>
                <key>AttackTime</key>
                <real>0.034372</real>
                <key>DecayTime</key>
                <real>3.242099</real>
                <key>Enable</key>
                <true />
                <key>InitialFrequency</key>
                <real>12633.792969</real>
                <key>ReleaseFrequency</key>
                <real>4213.134277</real>
                <key>ReleaseTime</key>
                <real>0.020000</real>
                <key>Resonance</key>
                <real>0.167968</real>
                <key>SustainFrequency</key>
                <real>4626.632813</real>
                <key>Type</key>
                <string>Lpf24Moog</string>
            </dict>
            <key>Oscilator1</key>
            <dict>
                <key>AttackPower</key>
                <integer>1</integer>
                <key>AttackTime</key>
                <real>0.009836</real>
                <key>DecayPower</key>
                <integer>9</integer>
                <key>DecayTime</key>
                <real>4.000000</real>
                <key>FixStart</key>
                <true />
                <key>LfoDelay</key>
                <real>0.004393</real>
                <key>LfoDepth</key>
                <real>48.276310</real>
                <key>LfoFrequency</key>
                <real>0.605461</real>
                <key>ReleasePower</key>
                <integer>6</integer>
                <key>ReleaseTime</key>
                <real>7.024985</real>
                <key>SustainLevel</key>
                <integer>0</integer>
                <key>SyncTarget</key>
                <integer>2</integer>
                <key>TransposeCoarse</key>
                <integer>22</integer>
                <key>TransposeFine</key>
                <integer>7</integer>
                <key>Volume</key>
                <real>0.104963</real>
                <key>WaveformType</key>
                <string>Pulse 1/8</string>
            </dict>
            <key>Oscilator2</key>
            <dict>
                <key>AttackPower</key>
                <integer>1</integer>
                <key>AttackTime</key>
                <real>0.004510</real>
                <key>DecayPower</key>
                <integer>6</integer>
                <key>DecayTime</key>
                <real>0.075953</real>
                <key>FixStart</key>
                <false />
                <key>LfoDelay</key>
                <real>0.002149</real>
                <key>LfoDepth</key>
                <real>0.088382</real>
                <key>LfoFrequency</key>
                <real>3.816777</real>
                <key>ReleasePower</key>
                <integer>6</integer>
                <key>ReleaseTime</key>
                <real>0.075953</real>
                <key>SustainLevel</key>
                <real>0.662618</real>
                <key>SyncTarget</key>
                <false />
                <key>TransposeCoarse</key>
                <integer>0</integer>
                <key>TransposeFine</key>
                <integer>0</integer>
                <key>Volume</key>
                <integer>0</integer>
                <key>WaveformType</key>
                <string>Sawtooth</string>
            </dict>
            <key>Oscilator3</key>
            <dict>
                <key>AttackPower</key>
                <integer>1</integer>
                <key>AttackTime</key>
                <real>0.003960</real>
                <key>DecayPower</key>
                <integer>10</integer>
                <key>DecayTime</key>
                <real>2.953653</real>
                <key>FixStart</key>
                <false />
                <key>LfoDelay</key>
                <real>0.004028</real>
                <key>LfoDepth</key>
                <real>54.995831</real>
                <key>LfoFrequency</key>
                <real>4.073037</real>
                <key>ReleasePower</key>
                <integer>6</integer>
                <key>ReleaseTime</key>
                <real>6.874478</real>
                <key>SustainLevel</key>
                <integer>0</integer>
                <key>SyncTarget</key>
                <integer>2</integer>
                <key>TransposeCoarse</key>
                <integer>15</integer>
                <key>TransposeFine</key>
                <integer>0</integer>
                <key>Volume</key>
                <real>0.126932</real>
                <key>WaveformType</key>
                <string>Square</string>
            </dict>
            <key>Polyphonics</key>
            <integer>4</integer>
        </dict>
    </dict>
</plist>
