<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
    <dict>
        <key>TXSettingsPlguinIdentifier</key>
        <string>com.nexhawks.TXSynthesizer.GPDS1</string>
        <key>TXSettingsPluginSettings</key>
        <dict>
            <key>Filter</key>
            <dict>
                <key>AttackFrequency</key>
                <integer>13000</integer>
                <key>AttackTime</key>
                <real>0.010000</real>
                <key>DecayTime</key>
                <integer>5</integer>
                <key>Enable</key>
                <false />
                <key>InitialFrequency</key>
                <integer>0</integer>
                <key>ReleaseFrequency</key>
                <integer>80</integer>
                <key>ReleaseTime</key>
                <real>0.020000</real>
                <key>Resonance</key>
                <real>0.400000</real>
                <key>SustainFrequency</key>
                <integer>3000</integer>
                <key>Type</key>
                <string>Lpf6LC</string>
            </dict>
            <key>Oscilator1</key>
            <dict>
                <key>AttackPower</key>
                <integer>1</integer>
                <key>AttackTime</key>
                <real>0.001203</real>
                <key>DecayPower</key>
                <integer>6</integer>
                <key>DecayTime</key>
                <real>0.140212</real>
                <key>FixStart</key>
                <false />
                <key>LfoDelay</key>
                <real>0.300000</real>
                <key>LfoDepth</key>
                <real>0.002273</real>
                <key>LfoFrequency</key>
                <integer>7</integer>
                <key>ReleasePower</key>
                <integer>6</integer>
                <key>ReleaseTime</key>
                <real>0.500000</real>
                <key>SustainLevel</key>
                <real>0.607624</real>
                <key>SyncTarget</key>
                <false />
                <key>TransposeCoarse</key>
                <integer>-12</integer>
                <key>TransposeFine</key>
                <integer>0</integer>
                <key>Volume</key>
                <real>0.069789</real>
                <key>WaveformType</key>
                <string>Sine</string>
            </dict>
            <key>Oscilator2</key>
            <dict>
                <key>AttackPower</key>
                <integer>1</integer>
                <key>AttackTime</key>
                <real>0.001431</real>
                <key>DecayPower</key>
                <integer>6</integer>
                <key>DecayTime</key>
                <real>0.176777</real>
                <key>FixStart</key>
                <false />
                <key>LfoDelay</key>
                <real>0.300000</real>
                <key>LfoDepth</key>
                <real>0.001911</real>
                <key>LfoFrequency</key>
                <integer>7</integer>
                <key>ReleasePower</key>
                <integer>6</integer>
                <key>ReleaseTime</key>
                <real>0.500000</real>
                <key>SustainLevel</key>
                <real>0.603666</real>
                <key>SyncTarget</key>
                <false />
                <key>TransposeCoarse</key>
                <integer>0</integer>
                <key>TransposeFine</key>
                <integer>0</integer>
                <key>Volume</key>
                <real>0.181453</real>
                <key>WaveformType</key>
                <string>Sine</string>
            </dict>
            <key>Oscilator3</key>
            <dict>
                <key>AttackPower</key>
                <integer>1</integer>
                <key>AttackTime</key>
                <real>0.001431</real>
                <key>DecayPower</key>
                <integer>6</integer>
                <key>DecayTime</key>
                <real>0.224339</real>
                <key>FixStart</key>
                <false />
                <key>LfoDelay</key>
                <real>0.300000</real>
                <key>LfoDepth</key>
                <integer>0</integer>
                <key>LfoFrequency</key>
                <integer>7</integer>
                <key>ReleasePower</key>
                <integer>6</integer>
                <key>ReleaseTime</key>
                <real>0.500000</real>
                <key>SustainLevel</key>
                <real>0.644196</real>
                <key>SyncTarget</key>
                <false />
                <key>TransposeCoarse</key>
                <integer>12</integer>
                <key>TransposeFine</key>
                <integer>0</integer>
                <key>Volume</key>
                <real>0.138758</real>
                <key>WaveformType</key>
                <string>Sine</string>
            </dict>
            <key>Polyphonics</key>
            <integer>4</integer>
        </dict>
    </dict>
</plist>
