<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
    <dict>
        <key>TXSettingsPlguinIdentifier</key>
        <string>com.nexhawks.TXSynthesizer.GPDS1</string>
        <key>TXSettingsPluginSettings</key>
        <dict>
            <key>Filter</key>
            <dict>
                <key>AttackFrequency</key>
                <real>10243.875977</real>
                <key>AttackTime</key>
                <real>0.073360</real>
                <key>DecayTime</key>
                <real>1.969976</real>
                <key>Enable</key>
                <true />
                <key>InitialFrequency</key>
                <real>375.713959</real>
                <key>ReleaseFrequency</key>
                <real>2852.830078</real>
                <key>ReleaseTime</key>
                <real>0.574307</real>
                <key>Resonance</key>
                <real>0.262715</real>
                <key>SustainFrequency</key>
                <integer>3000</integer>
                <key>Type</key>
                <string>Lpf24Moog</string>
            </dict>
            <key>Oscilator1</key>
            <dict>
                <key>AttackPower</key>
                <integer>1</integer>
                <key>AttackTime</key>
                <real>0.097714</real>
                <key>DecayPower</key>
                <integer>6</integer>
                <key>DecayTime</key>
                <real>0.581862</real>
                <key>FixStart</key>
                <true />
                <key>LfoDelay</key>
                <real>0.001694</real>
                <key>LfoDepth</key>
                <real>1649.142090</real>
                <key>LfoFrequency</key>
                <real>0.933748</real>
                <key>ReleasePower</key>
                <integer>6</integer>
                <key>ReleaseTime</key>
                <real>2.000015</real>
                <key>SustainLevel</key>
                <real>0.782858</real>
                <key>SyncTarget</key>
                <integer>2</integer>
                <key>TransposeCoarse</key>
                <integer>-18</integer>
                <key>TransposeFine</key>
                <integer>0</integer>
                <key>Volume</key>
                <real>0.398540</real>
                <key>WaveformType</key>
                <string>Pulse 1/8</string>
            </dict>
            <key>Oscilator2</key>
            <dict>
                <key>AttackPower</key>
                <integer>1</integer>
                <key>AttackTime</key>
                <integer>0</integer>
                <key>DecayPower</key>
                <integer>6</integer>
                <key>DecayTime</key>
                <integer>2</integer>
                <key>FixStart</key>
                <true />
                <key>LfoDelay</key>
                <real>0.300000</real>
                <key>LfoDepth</key>
                <integer>0</integer>
                <key>LfoFrequency</key>
                <integer>7</integer>
                <key>ReleasePower</key>
                <integer>6</integer>
                <key>ReleaseTime</key>
                <real>0.500000</real>
                <key>SustainLevel</key>
                <real>0.800000</real>
                <key>SyncTarget</key>
                <false />
                <key>TransposeCoarse</key>
                <integer>0</integer>
                <key>TransposeFine</key>
                <integer>0</integer>
                <key>Volume</key>
                <integer>0</integer>
                <key>WaveformType</key>
                <string>Sawtooth</string>
            </dict>
            <key>Oscilator3</key>
            <dict>
                <key>AttackPower</key>
                <integer>1</integer>
                <key>AttackTime</key>
                <integer>0</integer>
                <key>DecayPower</key>
                <integer>6</integer>
                <key>DecayTime</key>
                <integer>2</integer>
                <key>FixStart</key>
                <true />
                <key>LfoDelay</key>
                <real>0.300000</real>
                <key>LfoDepth</key>
                <integer>8</integer>
                <key>LfoFrequency</key>
                <integer>7</integer>
                <key>ReleasePower</key>
                <integer>6</integer>
                <key>ReleaseTime</key>
                <real>0.500000</real>
                <key>SustainLevel</key>
                <real>0.800000</real>
                <key>SyncTarget</key>
                <false />
                <key>TransposeCoarse</key>
                <integer>0</integer>
                <key>TransposeFine</key>
                <integer>3</integer>
                <key>Volume</key>
                <integer>0</integer>
                <key>WaveformType</key>
                <string>Sawtooth</string>
            </dict>
            <key>Polyphonics</key>
            <integer>4</integer>
        </dict>
    </dict>
</plist>
