<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
    <dict>
        <key>TXSettingsPlguinIdentifier</key>
        <string>com.nexhawks.TXSynthesizer.GPDS1</string>
        <key>TXSettingsPluginSettings</key>
        <dict>
            <key>Filter</key>
            <dict>
                <key>AttackFrequency</key>
                <real>4696.838379</real>
                <key>AttackTime</key>
                <real>0.059073</real>
                <key>DecayTime</key>
                <real>0.923016</real>
                <key>Enable</key>
                <true />
                <key>InitialFrequency</key>
                <real>3756.049561</real>
                <key>ReleaseFrequency</key>
                <real>3111.034180</real>
                <key>ReleaseTime</key>
                <real>0.095137</real>
                <key>Resonance</key>
                <real>0.173770</real>
                <key>SustainFrequency</key>
                <real>3416.366211</real>
                <key>Type</key>
                <string>Lpf24Moog</string>
            </dict>
            <key>Oscilator1</key>
            <dict>
                <key>AttackPower</key>
                <integer>1</integer>
                <key>AttackTime</key>
                <real>0.048857</real>
                <key>DecayPower</key>
                <integer>6</integer>
                <key>DecayTime</key>
                <real>1.189207</real>
                <key>FixStart</key>
                <false />
                <key>LfoDelay</key>
                <real>0.300000</real>
                <key>LfoDepth</key>
                <real>0.003214</real>
                <key>LfoFrequency</key>
                <integer>7</integer>
                <key>ReleasePower</key>
                <integer>6</integer>
                <key>ReleaseTime</key>
                <real>0.331309</real>
                <key>SustainLevel</key>
                <real>0.278597</real>
                <key>SyncTarget</key>
                <false />
                <key>TransposeCoarse</key>
                <integer>-5</integer>
                <key>TransposeFine</key>
                <integer>0</integer>
                <key>Volume</key>
                <real>0.360877</real>
                <key>WaveformType</key>
                <string>Sawtooth</string>
            </dict>
            <key>Oscilator2</key>
            <dict>
                <key>AttackPower</key>
                <integer>1</integer>
                <key>AttackTime</key>
                <real>0.033083</real>
                <key>DecayPower</key>
                <integer>6</integer>
                <key>DecayTime</key>
                <integer>2</integer>
                <key>FixStart</key>
                <false />
                <key>LfoDelay</key>
                <real>0.300000</real>
                <key>LfoDepth</key>
                <real>0.002374</real>
                <key>LfoFrequency</key>
                <integer>7</integer>
                <key>ReleasePower</key>
                <integer>6</integer>
                <key>ReleaseTime</key>
                <real>0.317263</real>
                <key>SustainLevel</key>
                <real>0.800000</real>
                <key>SyncTarget</key>
                <false />
                <key>TransposeCoarse</key>
                <integer>0</integer>
                <key>TransposeFine</key>
                <integer>-7</integer>
                <key>Volume</key>
                <real>0.125760</real>
                <key>WaveformType</key>
                <string>Sawtooth</string>
            </dict>
            <key>Oscilator3</key>
            <dict>
                <key>AttackPower</key>
                <integer>1</integer>
                <key>AttackTime</key>
                <real>0.006378</real>
                <key>DecayPower</key>
                <integer>6</integer>
                <key>DecayTime</key>
                <integer>2</integer>
                <key>FixStart</key>
                <false />
                <key>LfoDelay</key>
                <real>0.300000</real>
                <key>LfoDepth</key>
                <real>0.001753</real>
                <key>LfoFrequency</key>
                <integer>7</integer>
                <key>ReleasePower</key>
                <integer>6</integer>
                <key>ReleaseTime</key>
                <real>0.303812</real>
                <key>SustainLevel</key>
                <real>0.800000</real>
                <key>SyncTarget</key>
                <false />
                <key>TransposeCoarse</key>
                <integer>0</integer>
                <key>TransposeFine</key>
                <integer>3</integer>
                <key>Volume</key>
                <real>0.114825</real>
                <key>WaveformType</key>
                <string>Sawtooth</string>
            </dict>
            <key>Polyphonics</key>
            <integer>5</integer>
        </dict>
    </dict>
</plist>
