<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
    <dict>
        <key>TXSettingsPlguinIdentifier</key>
        <string>com.nexhawks.TXSynthesizer.GPDS1</string>
        <key>TXSettingsPluginSettings</key>
        <dict>
            <key>Filter</key>
            <dict>
                <key>AttackFrequency</key>
                <real>14804.252930</real>
                <key>AttackTime</key>
                <real>0.010000</real>
                <key>DecayTime</key>
                <integer>5</integer>
                <key>Enable</key>
                <true />
                <key>InitialFrequency</key>
                <real>801.879211</real>
                <key>ReleaseFrequency</key>
                <integer>80</integer>
                <key>ReleaseTime</key>
                <real>0.020000</real>
                <key>Resonance</key>
                <real>0.111895</real>
                <key>SustainFrequency</key>
                <integer>3000</integer>
                <key>Type</key>
                <string>Lpf24Moog</string>
            </dict>
            <key>Oscilator1</key>
            <dict>
                <key>AttackPower</key>
                <integer>1</integer>
                <key>AttackTime</key>
                <integer>0</integer>
                <key>DecayPower</key>
                <integer>6</integer>
                <key>DecayTime</key>
                <integer>2</integer>
                <key>FixStart</key>
                <false />
                <key>LfoDelay</key>
                <real>0.300000</real>
                <key>LfoDepth</key>
                <integer>8</integer>
                <key>LfoFrequency</key>
                <integer>7</integer>
                <key>ReleasePower</key>
                <integer>6</integer>
                <key>ReleaseTime</key>
                <real>0.500000</real>
                <key>SustainLevel</key>
                <real>0.800000</real>
                <key>SyncTarget</key>
                <false />
                <key>TransposeCoarse</key>
                <integer>0</integer>
                <key>TransposeFine</key>
                <integer>-1</integer>
                <key>Volume</key>
                <real>0.143684</real>
                <key>WaveformType</key>
                <string>Sawtooth</string>
            </dict>
            <key>Oscilator2</key>
            <dict>
                <key>AttackPower</key>
                <integer>1</integer>
                <key>AttackTime</key>
                <integer>0</integer>
                <key>DecayPower</key>
                <integer>6</integer>
                <key>DecayTime</key>
                <real>1.383910</real>
                <key>FixStart</key>
                <false />
                <key>LfoDelay</key>
                <real>0.300000</real>
                <key>LfoDepth</key>
                <integer>8</integer>
                <key>LfoFrequency</key>
                <integer>7</integer>
                <key>ReleasePower</key>
                <integer>6</integer>
                <key>ReleaseTime</key>
                <real>0.500000</real>
                <key>SustainLevel</key>
                <real>0.687448</real>
                <key>SyncTarget</key>
                <false />
                <key>TransposeCoarse</key>
                <integer>-12</integer>
                <key>TransposeFine</key>
                <integer>-7</integer>
                <key>Volume</key>
                <real>0.103524</real>
                <key>WaveformType</key>
                <string>Sawtooth</string>
            </dict>
            <key>Oscilator3</key>
            <dict>
                <key>AttackPower</key>
                <integer>1</integer>
                <key>AttackTime</key>
                <integer>0</integer>
                <key>DecayPower</key>
                <integer>6</integer>
                <key>DecayTime</key>
                <integer>2</integer>
                <key>FixStart</key>
                <false />
                <key>LfoDelay</key>
                <real>0.300000</real>
                <key>LfoDepth</key>
                <real>0.002426</real>
                <key>LfoFrequency</key>
                <integer>7</integer>
                <key>ReleasePower</key>
                <integer>6</integer>
                <key>ReleaseTime</key>
                <real>0.500000</real>
                <key>SustainLevel</key>
                <real>0.800000</real>
                <key>SyncTarget</key>
                <false />
                <key>TransposeCoarse</key>
                <integer>0</integer>
                <key>TransposeFine</key>
                <integer>2</integer>
                <key>Volume</key>
                <real>0.142792</real>
                <key>WaveformType</key>
                <string>Sawtooth</string>
            </dict>
            <key>Polyphonics</key>
            <integer>4</integer>
        </dict>
    </dict>
</plist>
