<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
    <dict>
        <key>TXSettingsPlguinIdentifier</key>
        <string>com.nexhawks.TXSynthesizer.GPDS1</string>
        <key>TXSettingsPluginSettings</key>
        <dict>
            <key>Filter</key>
            <dict>
                <key>AttackFrequency</key>
                <real>13575.562500</real>
                <key>AttackTime</key>
                <real>0.027678</real>
                <key>DecayTime</key>
                <real>3.242099</real>
                <key>Enable</key>
                <false />
                <key>InitialFrequency</key>
                <real>14387.220703</real>
                <key>ReleaseFrequency</key>
                <real>5346.682129</real>
                <key>ReleaseTime</key>
                <real>0.020000</real>
                <key>Resonance</key>
                <real>0.427070</real>
                <key>SustainFrequency</key>
                <real>13086.093750</real>
                <key>Type</key>
                <string>Lpf24Moog</string>
            </dict>
            <key>Oscilator1</key>
            <dict>
                <key>AttackPower</key>
                <integer>1</integer>
                <key>AttackTime</key>
                <real>0.001938</real>
                <key>DecayPower</key>
                <integer>6</integer>
                <key>DecayTime</key>
                <real>0.074325</real>
                <key>FixStart</key>
                <false />
                <key>LfoDelay</key>
                <real>0.300000</real>
                <key>LfoDepth</key>
                <real>0.001351</real>
                <key>LfoFrequency</key>
                <integer>7</integer>
                <key>ReleasePower</key>
                <integer>6</integer>
                <key>ReleaseTime</key>
                <real>0.052556</real>
                <key>SustainLevel</key>
                <real>0.800000</real>
                <key>SyncTarget</key>
                <false />
                <key>TransposeCoarse</key>
                <integer>0</integer>
                <key>TransposeFine</key>
                <integer>4</integer>
                <key>Volume</key>
                <real>0.150046</real>
                <key>WaveformType</key>
                <string>Square</string>
            </dict>
            <key>Oscilator2</key>
            <dict>
                <key>AttackPower</key>
                <integer>1</integer>
                <key>AttackTime</key>
                <real>0.001665</real>
                <key>DecayPower</key>
                <integer>6</integer>
                <key>DecayTime</key>
                <real>0.075953</real>
                <key>FixStart</key>
                <false />
                <key>LfoDelay</key>
                <real>0.300000</real>
                <key>LfoDepth</key>
                <real>0.004645</real>
                <key>LfoFrequency</key>
                <integer>7</integer>
                <key>ReleasePower</key>
                <integer>6</integer>
                <key>ReleaseTime</key>
                <real>0.075953</real>
                <key>SustainLevel</key>
                <real>0.553564</real>
                <key>SyncTarget</key>
                <false />
                <key>TransposeCoarse</key>
                <integer>0</integer>
                <key>TransposeFine</key>
                <integer>-4</integer>
                <key>Volume</key>
                <real>0.134202</real>
                <key>WaveformType</key>
                <string>Square</string>
            </dict>
            <key>Oscilator3</key>
            <dict>
                <key>AttackPower</key>
                <integer>1</integer>
                <key>AttackTime</key>
                <real>0.643257</real>
                <key>DecayPower</key>
                <integer>6</integer>
                <key>DecayTime</key>
                <integer>2</integer>
                <key>FixStart</key>
                <false />
                <key>LfoDelay</key>
                <real>0.300000</real>
                <key>LfoDepth</key>
                <integer>8</integer>
                <key>LfoFrequency</key>
                <integer>7</integer>
                <key>ReleasePower</key>
                <integer>6</integer>
                <key>ReleaseTime</key>
                <real>0.069649</real>
                <key>SustainLevel</key>
                <real>0.800000</real>
                <key>SyncTarget</key>
                <false />
                <key>TransposeCoarse</key>
                <integer>0</integer>
                <key>TransposeFine</key>
                <integer>-7</integer>
                <key>Volume</key>
                <real>0.123019</real>
                <key>WaveformType</key>
                <string>Sine</string>
            </dict>
            <key>Polyphonics</key>
            <integer>4</integer>
        </dict>
    </dict>
</plist>
