<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
    <dict>
        <key>TXSettingsPlguinIdentifier</key>
        <string>com.nexhawks.TXSynthesizer.Phaser</string>
        <key>TXSettingsPluginSettings</key>
        <dict>
            <key>Depth</key>
            <real>0.515625</real>
            <key>Feedback</key>
            <real>0.439062</real>
            <key>LfoFrequency</key>
            <real>0.351251</real>
            <key>MaxFrequency</key>
            <real>6320.062012</real>
            <key>MinFrequency</key>
            <real>322.269531</real>
            <key>Stages</key>
            <integer>8</integer>
        </dict>
    </dict>
</plist>
